.footer {
    padding: 20px 0;
    background-color: #fff;
    text-align: center;
    /* border-top: 1px solid #e5e7eb; */
}
.socialIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.socialIcon img {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
}
.copyright {
    font-size: 0.7rem;
    color: #6b7280;
    margin: 0;
}


@media (max-width: 480px) {
    .socialIcons {
        gap: 10px; 
    }
    .socialIcon img {
        width: 20px; 
        height: 20px;
    }
    .copyright {
        font-size: 0.8rem; 
    }
}